body {
    background-image: linear-gradient(rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.7)), url("masters.jpg");
    background-size: cover;
    text-align: center;
}

#mast {
    height: 125px;
    width: 100px;
}