body {
    background-image: url("crimsonYellow.jpg");
    background-size: cover;
    background-position: center;
    color: antiquewhite;
}

h1 {
    text-align: center;
}
#vert {
    padding: 10px;
    height: 200px;
    width: 150px;
}
#square {
    padding: 10px;
    height: 200px;
    width: 200px;
}
#rect {
    padding: 10px;
    height: 200px;
    width: 275px;
}

#plant {
    padding: 10px;
    height: 200px;
    width: 200px;
}