body {
    background-image: url("crimsonYellow.jpg");
    background-size: cover;
    background-position: center;
    color: antiquewhite;
    text-align: center;
    align-items: center;
}

#nav-item {
    color: blue;
}

h1 {
    text-align: center;
}

.zoomable-image {
    transition: transform 0.3s ease-in-out;
}

.zoomable-image:hover {
    transform: scale(3);
}
#vert {
    padding: 10px;
    height: 200px;
    width: 150px;
}
#square {
    padding: 10px;
    height: 200px;
    width: 200px;
}
#rect {
    padding: 10px;
    height: 200px;
    width: 275px;
}

#plant {
    padding: 10px;
    height: 200px;
    width: 200px;
}